body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #9ce5e3;
}

.gif-container {
  cursor: pointer;
}

.gif-container img {
  max-width: 100%;
  max-height: 100%;
}
